---
title: "Tutor for Functional Programming and Verification"
collection: teaching
type: "Tutorial"
permalink: /teaching/2018-winter-functional-programming-and-verification
venue: "TU Munich"
date: 2018-10-01
location: "Munich, Germany"
---

Tutor for Functional Programming and Verification course. Duties include: teaching tutorials on functional programming with OCaml/Haskell and formal verification proofs, developing exercises, support for students, submission grading, organising exam revision course.
